<!DOCTYPE html>
<html lang="en">
    <head>
{% include 'header_common.html' %}
      <script src="/static/choose_password.js"></script>
    </head>

    <script>
      resetToken = "{{reset_token}}";
    </script>

    <body>


      <nav class="navbar navbar-default">
	<div class="container">
	  <a href="/"><img class="navbar-brand" src="/static/km_nav.svg" alt=""></a>
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/about">About</a></li>
	    <li><a href="/login">Login</a></li>
	  </ul>
	</div>
      </nav>

      <!-- password form container -->
      <div class="container">
        <!-- password form row -->
        <div class="row">

          <div class="col-md-4"></div> <!-- left offset-->

          <!-- password form -->
          <div class="col-md-4">

            <center>
            <form>
              <h1>Choose a Password</h1>

              <div id="message-div">
                {{message}}
              </div>

              <div class="form-group">
                <input type="password" class="form-control" value="" placeholder="Enter New Password" id="password1">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" value="" placeholder="Re-Enter Password" id="password2">
              </div>

              <div class="form-group">
                <a class="btn btn-lg btn-block btn-primary" id="submit-password">Submit</a>
              </div>

            </form>
            </center>

          </div>
          <!-- END password form -->

          <div class="col-md-4"></div> <!-- right offset-->

        </div>
        <!-- END password form row -->
      </div>
      <!-- END password form container -->


{% include 'footer.html' %}
    </body>
</html>
