<!DOCTYPE html>
<html lang="en">
    <head>
{% include 'header_common.html' %}
    </head>

    <body>

      <nav class="navbar navbar-default">
	<div class="container">
	  <a href="/"><img class="navbar-brand" src="/static/km_nav.svg" alt=""></a>
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/about">About</a></li>
	    <li><a href="/login">Login</a></li>
	  </ul>
	</div>
      </nav>

      <!-- reset form container -->
      <div class="container">
        <!-- reset form row -->
        <div class="row">

          <div class="col-md-4"></div> <!-- left offset-->

          <!-- reset form -->
          <div class="col-md-4">

            <center>
            <form action="/forgot_password" method="POST">
              <h1>Reset Password</h1>
              {{message}}

              <div class="form-group">
                <label class="sr-only">Email</label>
                <input type="text" class="form-control" value="" placeholder="email" name="email">
              </div>

              <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

            </form>
            </center>

          </div>
          <!-- END reset form -->

          <div class="col-md-4"></div> <!-- right offset-->

        </div>
        <!-- END reset form row -->
      </div>
      <!-- END reset form container -->


{% include 'footer.html' %}
    </body>
</html>
